.tc-videoController {
  position: absolute;
  top: 0;
  left: 0;

  background: black;
  color: white;

  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 10px 15px;

  cursor: default;
  z-index: 9999999;
  opacity: 0.3;
}

.tc-videoController:hover {
  opacity: 0.7;
}

/* YouTube player */
.ytp-hide-info-bar .tc-videoController {
  margin-top: 10px;
}

.ytp-autohide .tc-videoController {
  visibility: hidden;
  transition: opacity .25s cubic-bezier(0.4,0,0.2,1);
  opacity: 0;
}

/* YouTube embedded player */
/* e.g. https://www.igvita.com/2012/09/12/web-fonts-performance-making-pretty-fast/ */
.full-frame .html5-video-player:not(.ytp-fullscreen) .tc-videoController {
  margin-top: 45px;
}

.ytp-fullscreen .tc-videoController {
  display: block;
  margin-top: 60px;
}

/* shift controller on vine.co */
/* e.g. https://vine.co/v/OrJj39YlL57 */
.video-container .vine-video-container .tc-videoController {
  margin-left: 40px;
}

/* shift YT 3D controller down */
/* e.g. https://www.youtube.com/watch?v=erftYPflJzQ */
.ytp-webgl-spherical-control {
  top: 50px !important;
}
.ytp-fullscreen .ytp-webgl-spherical-control {
  top: 100px !important;
}

/* disable Vimeo video overlay*/
div.video-wrapper + div.target {
  height: 0;
}
