/* Origin specific overrides */

/* YouTube player */
.ytp-hide-info-bar .vsc-controller {
  margin-top: 10px;
}

.ytp-autohide .vsc-controller {
  visibility: hidden;
  transition: opacity .25s cubic-bezier(0.4,0,0.2,1);
  opacity: 0;
}

/* YouTube embedded player */
/* e.g. https://www.igvita.com/2012/09/12/web-fonts-performance-making-pretty-fast/ */
.full-frame .html5-video-player:not(.ytp-fullscreen) .vsc-controller {
  margin-top: 45px;
}

.ytp-fullscreen .vsc-controller {
  display: block;
  margin-top: 60px;
}

/* shift controller on vine.co */
/* e.g. https://vine.co/v/OrJj39YlL57 */
.video-container .vine-video-container .vsc-controller {
  margin-left: 40px;
}

/* shift YT 3D controller down */
/* e.g. https://www.youtube.com/watch?v=erftYPflJzQ */
.ytp-webgl-spherical-control {
  top: 50px !important;
}

.ytp-fullscreen .ytp-webgl-spherical-control {
  top: 100px !important;
}

/* disable Vimeo video overlay*/
div.video-wrapper + div.target {
  height: 0;
}
