/* Reset browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: 36 38 40;

  --light-gray: #eee;
  --gray: #dedede;
  --dark-gray: #9d9d9d;

  --gutter: 1.75rem;
}

:any-link {
  color: inherit;
}

body {
  color: rgb(var(--dark));
  font-size: .875rem; /* 14 px */
}

header {
  backdrop-filter: blur(8px);
  background: rgba(255 255 255 / .75);
  border-bottom: 2px solid var(--light-gray);
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
}

main {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 var(--gutter);
}

section,
#faq {
  margin: var(--gutter) 0;
}

/* Header title */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .75em;
}

/* Section titles */
h3,
h4 {
  font-weight: 600;
  margin: 1em 0 .25em;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: .5em;
}

.row {
  margin: .5rem 0;
}

select,
input,
button {
  font: inherit;
  margin-right: .25rem;
}

select {
  width: 11rem;
}

input[type="text"] {
  text-align: center;
  width: 5rem;
}

button {
  background: var(--light-gray);
  border-radius: 5px;
  border: 1px solid rgba(var(--dark) / 0.25);
  box-shadow: 0 2px 3px rgba(var(--dark) / .08),
        inset 0 -2px 3px rgba(var(--dark) / .15);
  color: rgba(var(--dark) / .9);
  padding: .5em 1em;
  text-shadow: 0 1px 1px var(--light-gray);
}

/* "X" to remove new shortcuts */
button.removeParent {
  padding: 1px;
  width: 3em;
}

/* (Do not) disable website keybindings */
.customForce {
  display: none;
  width: 16rem;
}

label {
  display: inline-block;
  margin-right: .75rem;
  vertical-align: top;
  width: 12.5rem;
}

/* e.g. "Default options restored" */
#status {
  color: var(--dark-gray);
  display: inline-block;
}

ol {
  margin-left: 2.5rem;
}

hr {
  border: 2px dashed var(--light-gray);
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(var(--dark));
    color: white;
  }

  header {
    background: rgb(var(--dark) / .85);
  }

  #status {
    color: var(--gray);
  }
}
