/* Reset browser defaults */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-main: 255 255 255;
  --clr-primary-gray: 112 112 112;
  --clr-secondary-gray: 238 238 238;
  --gutter: 1.75rem;
}

:any-link {
  color: inherit;
}

body {
  color: #212121;
  font: .875rem system-ui;
}

header {
  backdrop-filter: blur(8px);
  background: rgba(var(--clr-main) / .85);
  border-bottom: 2px solid rgb(var(--clr-secondary-gray));
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
}

main {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 var(--gutter);
}

section,
#faq {
  margin: var(--gutter) 0;
}

/* Header title */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .75em;
}

/* Section titles */
h3,
h4 {
  font-weight: 600;
  margin: 1em 0 .25em;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: .5em;
}

.row {
  margin: .5em 0;
}

select,
input,
button {
  font: inherit;
  margin-right: .35em;
}

select {
  width: 12em;
}

input[type="text"] {
  text-align: center;
  width: 6em;
}

button {
  border-radius: .5em;
  border: 1px solid rgba(0 0 0 / 0.25);
  box-shadow: 0 2px 3px rgba(0 0 0 / .08), inset 0 -2px 3px rgba(0 0 0 / .15);
  padding: .5em 1em;
}

button:active {
  box-shadow: inset 0 -1px 3px rgba(0 0 0 / .15);
}

/* "X" to remove new shortcuts */
button.removeParent {
  padding: 1px;
  width: 3em;
}

/* (Do not) disable website keybindings */
.customForce {
  display: none;
  width: 18.5em;
}

label {
  display: inline-block;
  margin-right: .75rem;
  vertical-align: top;
  width: 14em;
}

/* e.g. "Default options restored" */
#status {
  color: rgb(var(--clr-primary-gray));
  display: inline-block;
}

ol {
  margin-left: 3em;
}

hr {
  border: 2px dashed rgb(var(--clr-secondary-gray));
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-main: 36 38 40;
    --clr-primary-gray: 238 238 238;
    --clr-secondary-gray: 112 112 112;
  }

  body {
    color: #fff;
  }
}
