:root {
  --main-bg-color: #fefefe;
  --main-color: #111;
  --bg-shade: #eee;
  --color-shade: #ccc;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #111;
    --main-color: #fefefe;
    --bg-shade: #333;
    --color-shade: #777;
  }
}

body {
  min-width: 8em;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid var(--color-shade);
  margin: 0.6em 0;
}

button {
  width: 100%;
  background-color: var(--bg-shade);
  border: 1px solid var(--color-shade);
  border-radius: 2px;
  outline: none;

  color: var(--main-color);
  font: inherit;
  user-select: none;
}

button:hover {
  background-color: var(--color-shade);
  cursor: pointer;
}

.secondary {
  font-size: 0.95em;
  margin: 0.15em 0;
}

.hide {
  display: none;
}
