* {
  line-height: 1.8em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

:host(:hover) #controls {
  display: inline;
}

    .balance-text {
        text-wrap: balanced;   /* Apply (proposed) CSS style */
    }

	
	div#subs1{
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    position: absolute;
	text-align: center;
    background-color: transparent;
    color: #ffff00;
    font-family: Segoe UI;
    font-size: 573%;
    font-weight: bold;
    text-shadow: 1px 4px black, 6px 2px black, -7px -1px black, 7px 4px black;
    z-index: 2147483647;
    -webkit-transform: scale(0.9,1);
}
	

#subti, script#subtitle{
position:fixed;
z-index:9999999;
width:250px;
height:100px;
background-color:red;
background-size:600px 800px;
}



#controller.vsc_ctl_mod{
  position: absolute;
  top: 0;
  left: 0;

  background: black;
  color: white;

  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 10px 15px;

  cursor: default;
  z-index: 9999999;
  opacity: 0.3;
}

#controller:hover {
  opacity: 0.7;
}

#controller:hover > .draggable {
  margin-right: 0.8em;
}

#controls {
  display: none;
}

#controller.dragging {
  cursor: -webkit-grabbing;
  opacity: 0.7;
}

#controller.dragging #controls {
  display: inline;
}

.draggable {
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: -webkit-grabbing;
}

button.vsc_btn_mod {
  cursor: pointer;
  color: black;
  background: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 1px 6px 3px 6px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid white;
font-family: "Lucida Console", Monaco, monospace;
  margin-bottom: 2px;
}

button:focus {
  outline: 0;
}

button:hover {
  opacity: 1.0;
}

button:active {
  background: #ccc;
}

button.rw {
  opacity: 0.65;
}

button.hideButton {
  margin-right: 2px;
  opacity: 0.5;
}
