* {
  line-height: 1.8em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

:host(:hover) #controls {
  display: inline;
}

#controller {
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(255,255,255,0.2);
  color: white;

  border-radius: 30px;
  padding: 6px 12px 6px 12px;
  margin: 10px 10px 10px 15px;

  cursor: default;
  z-index: 9999999;
}

#controller:hover {
  opacity: 1.0;
}

#controller:hover > .draggable {
  margin-right: 0.8em;
}

#controls {
  display: none;
}

#controller.dragging {
  cursor: -webkit-grabbing;
  opacity: 0.7;
}

#controller.dragging #controls {
  display: inline;
}

.draggable {
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: -webkit-grabbing;
}

button {
  cursor: pointer;
  color: white;
  background: rgba(255,255,255,0.4);
  font-weight: normal;
  border-radius: 20px;
  padding: 1px 8px 3px 8px;
  font-size: 14px;
  line-height: 14px;
  border: 0px solid white;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0px 2px 2px 2px;
  transition: background 0.3s;
}

button:focus {
  outline: 0;
}

button:hover {
  opacity: 1;
  background: #f44336;
}

button:active {
  background: #f44336;
}

button.rw {
  opacity: 0.65;
}

button.hideButton {
  margin-right: 2px;
  opacity: 0.5;
}
